h3:first-child {
    font-size: 30px;
    color: pink;
}
#greycol{
    font-size: 30px;
    color: grey;

}
div > div > p {
    color: red;
}
.yellow {
color: yellow;
}
p:nth-of-type(3) {
    color: green;
}
    
